* {
    box-sizing: border-box;
}

body {
    margin: 0;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 10%;
    justify-content: center;
}

header {
    padding: 2.5px;
    text-align: center;
    background-color: #395144;
}

nav {
    display: inline;
    margin: 2.5%;
}

nav h1 {
    color: #E6E5A3;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    font-size: 20px;
}

nav a {
    color: #E6E5A3;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: black;
}

main {
    display: flex;
}

h2 {
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    align-items: center;
}

h3 {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

section {
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
}

.container {
    display: inline-flex;
    flex-direction: row;
}

#about-me {

    background-color: #557153;
    color: #E6E5A3;
    font-size: 12pt;
}

#about-me img {

    height: 25%;
    width: 25%;
    padding: 5px;
    flex-direction: row;
}

#about-me p {
    position: absolute;
    text-align: justify;
    margin-left: 35%;
    margin-right: 10%;
    bottom: 550px;
}

#projects {
    justify-content: space-between;
    background-color: #7D8F69;
    color: #A9AF7e;
}

#projects a img {
    flex-direction: row;
    height: 25%;
    padding: 5px 5px;
    width: 20%;
    margin-top: 15px;
    align-items: center;
}

#contact-me {
    justify-content: space-between;
    background-color: #E6E5A3;
    color: #557153;
}

#contact-me a img {
    flex-direction: row;
    height: 25%;
    padding: 20px 10px;
    width: 20%;
    margin-top: 15px;
}